body{
	margin: 10;
	background-image: url("../images/fondoindex2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: 'Raleway';
}

html{
	height: 100%;
}

h1{
	color: white;
	font-size: 3em;
	text-align: center;

}

.panel h3{
	text-align: center;
	color: #666666;
	font-size: 1.6em;
}

.panel{
	padding: 1px 20px;
	width: 330px;
	margin: 0 auto;
	border-radius: 2px;
	background-color: rgba(255, 255, 255, 1);
	padding-bottom: 26px;

-webkit-box-shadow: 10px 13px 24px -9px rgba(0,0,0,0.41);
-moz-box-shadow: 10px 13px 24px -9px rgba(0,0,0,0.41);
box-shadow: 10px 13px 24px -9px rgba(0,0,0,0.41);
}

.panel p{
	color: teal;
}

footer{
	color: white;
	position: fixed;
	left: 10px;
	bottom: 10px;
}

footer i{
	font-weight: bolder;
}
