<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SistemaGestionEscolarWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUsuario</display-name>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>servlet.LoginUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/LoginUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerSueldos</display-name>
    <servlet-name>ObtenerSueldos</servlet-name>
    <servlet-class>servlet.ObtenerSueldos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerSueldos</servlet-name>
    <url-pattern>/ObtenerSueldos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CrearCurso</display-name>
    <servlet-name>CrearCurso</servlet-name>
    <servlet-class>servlet.CrearCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrearCurso</servlet-name>
    <url-pattern>/CrearCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AsignarProfesor</display-name>
    <servlet-name>AsignarProfesor</servlet-name>
    <servlet-class>servlet.AsignarProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsignarProfesor</servlet-name>
    <url-pattern>/AsignarProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DesactivarCurso</display-name>
    <servlet-name>DesactivarCurso</servlet-name>
    <servlet-class>servlet.DesactivarCurso</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DesactivarCurso</servlet-name>
    <url-pattern>/DesactivarCurso</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InscribirEstudiante</display-name>
    <servlet-name>InscribirEstudiante</servlet-name>
    <servlet-class>servlet.InscribirEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscribirEstudiante</servlet-name>
    <url-pattern>/InscribirEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerMensualidades</display-name>
    <servlet-name>ObtenerMensualidades</servlet-name>
    <servlet-class>servlet.ObtenerMensualidades</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerMensualidades</servlet-name>
    <url-pattern>/ObtenerMensualidades</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarEstudiante</display-name>
    <servlet-name>MostrarEstudiante</servlet-name>
    <servlet-class>servlet.MostrarEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarEstudiante</servlet-name>
    <url-pattern>/MostrarEstudiante</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarMatricula</display-name>
    <servlet-name>PagarMatricula</servlet-name>
    <servlet-class>servlet.PagarMatricula</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarMatricula</servlet-name>
    <url-pattern>/PagarMatricula</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarMensualidad</display-name>
    <servlet-name>PagarMensualidad</servlet-name>
    <servlet-class>servlet.PagarMensualidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarMensualidad</servlet-name>
    <url-pattern>/PagarMensualidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarAsistencia</display-name>
    <servlet-name>RegistrarAsistencia</servlet-name>
    <servlet-class>servlet.RegistrarAsistencia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarAsistencia</servlet-name>
    <url-pattern>/RegistrarAsistencia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarPromedio</display-name>
    <servlet-name>RegistrarPromedio</servlet-name>
    <servlet-class>servlet.RegistrarPromedio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarPromedio</servlet-name>
    <url-pattern>/RegistrarPromedio</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarProfesor</display-name>
    <servlet-name>MostrarProfesor</servlet-name>
    <servlet-class>servlet.MostrarProfesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarProfesor</servlet-name>
    <url-pattern>/MostrarProfesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PagarSueldo</display-name>
    <servlet-name>PagarSueldo</servlet-name>
    <servlet-class>servlet.PagarSueldo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PagarSueldo</servlet-name>
    <url-pattern>/PagarSueldo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerSituacion</display-name>
    <servlet-name>ObtenerSituacion</servlet-name>
    <servlet-class>servlet.ObtenerSituacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerSituacion</servlet-name>
    <url-pattern>/ObtenerSituacion</url-pattern>
  </servlet-mapping>
</web-app>